.rows{
  margin-left: 20px;
  color: white;
}
.rows__posters {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.rows__posters::-webkit-scrollbar {
  display: none;
}
.row__Poster {
  object-fit: contain;
  width: 100%;
  max-width: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}
.row__Poster:hover {
  transform: scale(1.08);
}
.row__posterLarge{
  max-width: 200px;
  opacity: (1.09);
}
